<!-- Barra de carga -->
<app-process *ngIf="loading"></app-process>

<!-- Titulo -->

<!-- <div class="title">
    <h1>Asignación de equipos</h1>
</div> -->

<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mesa de Ayuda - Agora TIC</span>
      <span class="espaciados_barra"></span>
      <button mat-icon-button class="icono-cuenta">
        <mat-icon fontIcon="account_circle">Account Circle</mat-icon>
      </button>
      <mat-slide-toggle></mat-slide-toggle>
    </mat-toolbar>
  </p> -->
  
<!-- Contenedor Principal -->
<div class="container">

    <!-- Filtro -->
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>

    <!-- Sombra Cuadro -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z5" matSort>
      
        <!-- Definición de Columnas en .ts "displayedColumns" -->
        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Columna Tipo -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <!-- Columna Marca -->
        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
        </ng-container>

        <!-- Columna Modelo -->
        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
        </ng-container>

        <!-- Columna Observaciones -->
        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones" class="columna_acciones">
            <th mat-header-cell *matHeaderCellDef> <!-- Definicion de botones Agregar -->
                <button routerLink="/AgregarAsignaciones" class="aceptar" mat-raised-button color="primary">Agregar</button>
            </th> 
            <td mat-cell *matCellDef="let element"> <!-- Definicion de botones ver, editar, eliminar -->
                <mat-icon routerLink="/VerAsignaciones/:id" matTooltip="Ver" class="visibility" fontIcon="visibility"></mat-icon>
                <mat-icon routerLink="/EditarAsignaciones/:id" matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>
                <mat-icon (click)="EliminarAsignacion()" matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>   
      </table>
</div>

<!-- Paginación -->
<div class="paginacion">
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>



  
   