table {
    width: 100%;
}
  
.title {
  padding: 12px;
  background-color: #1B4F72;
  text-align: center;
  color: white;
}

td, th {
  width: 20%;
}

.paginacion {
  margin: 0 20%
}

/*Cuadro Filtro*/
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
  cursor: pointer;
  color: #E15639
}

.edit {
  cursor: pointer;
  color: #1878B0
}

.visibility {
  cursor: pointer;
  color: #196F3D;
}

.aceptar {
  font-size: 13px;
  line-height: 28px;
}


/* contenedor */

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}