table {
    width: 100%;
  }
  
  .title {
    padding: 12px;
    background-color: #1B4F72;
    text-align: center;
    color: white;
  }

  .container {
    margin: 1% 20%
  }

  td, th {
    width: 15%;
  }

  .paginacion {
    margin: 0 20%
  }

  /*Cuadro Filtro*/
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }