table {
    width: 100%;
  }
  
  .title {
    padding: 12px;
    background-color: #1B4F72;
    text-align: center;
    color: white;
  }

  .container {
    margin: 1% 20%
  }

  td, th {
    width: 15%;
  }

  .paginacion {
    margin: 0 20%
  }

  /*Cuadro Filtro*/
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .delete {
    cursor: pointer;
    color: #E15639
  }

  .edit {
    cursor: pointer;
    color: #1878B0
  }

  .search {
    cursor: pointer;
    color: #196F3D;
  }

  .aceptar {
    font-size: 13px;
    line-height: 28px;
  }

