<!-- Titulo -->

<!-- <div class="title">
    <h1>Ver Asignaciones</h1>
</div> -->

<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mesa de Ayuda - Agora TIC</span>
      <span class="espaciados_barra"></span>
      <button mat-icon-button class="icono-cuenta">
        <mat-icon fontIcon="account_circle">Account Circle</mat-icon>
      </button>
      <mat-slide-toggle></mat-slide-toggle>
    </mat-toolbar>
  </p>

<!-- Contenedor principal -->
<div class="container">
    <mat-card class="cuadro">
        <mat-card-title>Equipo</mat-card-title>
        <mat-card-content>
            <p><strong>Nombre:</strong> Optiplex </p>
            <p><strong>Tipo:</strong> Portatil </p>
            <p><strong>Marca:</strong> Dell </p>
            <p><strong>Modelo:</strong> 8400 </p>
            <p><strong>Observaciones:</strong> Lorem </p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button routerLink="ListadoAsignaciones" mat-raised-button color="primary">Volver</button>
        </mat-card-actions>
    </mat-card>
</div>

