<div class="title">
    <h1>Ver Asignaciones</h1>
</div>

<div class="container">
    <mat-card class="cuadro">
        <mat-card-title>Equipo</mat-card-title>
        <mat-card-content>
            <p><strong>Nombre:</strong> Optiplex </p>
            <p><strong>Tipo:</strong> Portatil </p>
            <p><strong>Marca:</strong> Dell </p>
            <p><strong>Modelo:</strong> 8400 </p>
            <p><strong>Observaciones:</strong> Lorem </p>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button routerLink="ListadoAsignaciones" mat-raised-button color="primary">Volver</button>
        </mat-card-actions>
    </mat-card>
</div>

