<!-- Titulo -->

<!-- <div class="title">
    <h1>Agregar Asignación</h1>
</div> -->

<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mesa de Ayuda - Agora TIC</span>
      <span class="espaciados_barra"></span>
      <button mat-icon-button class="icono-cuenta">
        <mat-icon fontIcon="account_circle">Account Circle</mat-icon>
      </button>
      <mat-slide-toggle></mat-slide-toggle>
    </mat-toolbar>
  </p>

<!-- Barra de proceso -->
<app-process *ngIf="loading"></app-process>

<!-- Contenedor Principal -->
<div class="container" style="text-align: center;">
    <mat-card class="anchoContainer">
        <mat-card-subtitle>
            Datos de la Asignación
        </mat-card-subtitle>
        
        <!-- Formulario -->
        <form [formGroup]="form" (ngSubmit)="AgregarAsignacion()">
            <mat-grid-list cols="2" rowHeight="86px">

                <!-- Input normal Nombre -->
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput autocomplete="off">
                        <mat-hint>Escriba el nombre del equipo.</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                
                <!-- Menu desplegable Tipo-->
                <mat-grid-tile>
                      <mat-form-field appearance="outline">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo">
                            <mat-option value="Portatil">Portatil</mat-option>
                            <mat-option value="Escritorio">Escritorio</mat-option>
                            <mat-option value="Celular">Celular</mat-option>
                        </mat-select>
                        <mat-hint>Seleccione el tipo de dispositivo.</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                
                <!-- Menu desplegable Marca-->

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                      <mat-label>Marca</mat-label>
                      <mat-select formControlName="marca">
                          <mat-option value="Dell">Dell</mat-option>
                          <mat-option value="Hp">Hp</mat-option>
                          <mat-option value="Samsung">Samsung</mat-option>
                      </mat-select>
                      <mat-hint>Selecciona la marca del dispositivo.</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- Input normal Modelo -->
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input formControlName="modelo" matInput autocomplete="off">
                        <mat-hint>Escriba el modelo del equipo. (Solo numeros)</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>

                <!-- Input normal -->
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <mat-label>Observaciones</mat-label>
                        <input formControlName="observaciones" matInput autocomplete="off">
                        <mat-hint>Por favor escriba las observaciones pertinentes.</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>

                <!-- Botones -->
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="btnGuardar" mat-raised-button color="primary">Guardar</button>
                    <button routerLink="ListadoAsignaciones" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>
